/*sliderbox css*/
.sliderbox{
  width: auto;
  height: auto;
}
.wp-block-buttons{
  border: none !important;
}
.sliderbox a.wp-block-button__link{
  padding: 15px 20px !important;
  font-size: 15px !important;
}
.sliderbox h1{
  letter-spacing: 1;
}
/*service section*/
.service-box {
  border: solid 2px #3ca6d4;
  border-radius: 5px;
  padding: 20px;
  margin: 2% 0;
}
.service-box a.wp-block-button__link{
  padding: 8px 20px !important;
}
.service-box a.wp-block-button__link:hover {
  background: #3ca6d4 !important;
}
.service-box p{
  line-height: 1.7;
  font-size: 15px !important;
}
.main-service h2{
  padding-bottom: 5px;
}
.main-service h2:after{
  content: "";
  width: 20%;
  padding-bottom: 12px;
  border-bottom: 3px solid #3ca6d4;
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 720px){
  .sliderbox p{
    display: none;
  }
  .sliderbox h1{
    font-size: 30px !important;
  }
  .main-service h2:after{
    width: 67%;
  }
}
@media screen and (max-width: 991px) and (min-width: 767px){
  .sliderbox .wp-block-columns.alignwide {
    margin: 0 auto !important;
  }
  .sliderbox .wp-block-column.is-vertically-aligned-center {
    flex-basis: 100% !important;
  }
  .service-box h3{
    font-size: 20px !important;
  }
  .main-service h2:after{
    width: 27%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 991px){
  .service-box h3{
    font-size: 20px !important;
  }
}