<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.hovaten{
  color: #071866;
  font-size: 16pt
  width: 80%;
  margin-left: 5px;
}

.wpcf7-date{
 color: #C5A131;
 width: 80%;
}
.wpcf7-textemail{
 width: 100%;
}
.column-half{
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}
.ele-button{
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #FF0101;
    border-radius: 20px 20px 20px 20px;
}
</style>
<!-- end Simple Custom CSS and JS -->
